<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Medical Report</title>
</head>
<body>
<h1>Medical Report</h1>

<div>
  <h2>Procedure Information</h2>

  <h3>Exam</h3>
  <p th:text="${procedureInformationText}"></p>
</div>

<div>
  <h2>Technique</h2>
  <p th:text="${techniqueText}"></p>
</div>

<div>
  <h2>Clinical Information</h2>
  <p th:text="${clinicalInformationText}"></p>
</div>

<div>
  <h2>Comparison</h2>
  <p th:text="${comparisonsText}"></p>
</div>

<div>
  <h2>Findings</h2>
  <p>Lower chest</p>
  <p>Lung bases / pleura</p>
  <p th:text="${findingsText}"></p>
</div>

<div>
  <h3>Distal esophagus</h3>
  <p th:text="${distalEsophagus}"></p>
</div>

<div>
  <h3>Heart / vessels</h3>
  <p th:text="${heartVessels}"></p>
</div>

<div>
  <h3>Other</h3>
  <p th:text="${other}"></p>
</div>

<div>
  <p>Abdomen</p>
  <p>Kidneys</p>
  <p>Renal mass</p>
  <h3>Brief Description</h3>
  <p th:text="${briefDescription}"></p>
</div>

<div>
  <h3>Location</h3>
  <p th:text="${location}"></p>
</div>

<div>
  <h3>Size in 3 orthogonal dimensions in cm</h3>
  <p th:text="${sizeInOrthogonalDimensionsInCm}"></p>
</div>

<div>
  <h3>Composition</h3>
  <p th:text="${composition}"></p>
</div>

<div>
  <h3>Bosniak classification</h3>
  <p th:text="${bosniakClassification}"></p>
</div>

<div>
  <h3>Margins</h3>
  <p th:text="${margins}"></p>
</div>

<div>
  <h3>Enhancement</h3>
  <p th:text="${enhancement}"></p>
</div>

<div>
  <h3>Non-enhanced phase attenuation</h3>
  <p th:text="${nonenhancedPhaseAttenuation} HU"></p>
</div>

<div>
  <h3>Corticomedullary phase attenuation</h3>
  <p th:text="${corticomedullaryPhaseAttenuation} HU"></p>
</div>

<div>
  <h3>Nephrographic phase attenuation</h3>
  <p th:text="${nephrographicPhaseAttenuation} HU"></p>
</div>

<div>
  <h3>Nephrometry score</h3>
  <h3>Radius</h3>
  <p th:text="${radius}"></p>
</div>

<div>
  <h3>Exophytic extent</h3>
  <p th:text="${exophyticExtent}"></p>
</div>

<div>
  <h3>Nearness to Sinus</h3>
  <p th:text="${nearnessToSinus}"></p>
</div>

<div>
  <h3>Polar location of mass</h3>
  <p th:text="${polarLocation}"></p>
</div>

<div>
  <h3>Axial location</h3>
  <p th:text="${axialLocation}"></p>
</div>

<div>
  <h3>Hilar extent</h3>
  <p th:text="${hilarExtent}"></p>
</div>

<div>
  <h3>Nephrometry score (points)</h3>
  <p th:text="${nephrometryScore}"></p>
</div>

<div>
  <h3>Local extent of disease</h3>
  <h3>Invades perirenal fat</h3>
  <p th:text="${invadesPerirenalFat}"></p>
</div>

<div>
  <h3>Contacts the perirenal fascia</h3>
  <p th:text="${contactsPerirenalFascia}"></p>
</div>

<div>
  <h3>Invades Through Perirenal Fascia</h3>
  <p th:text="${invadesThroughPerirenalFascia}"></p>
</div>

<div>
  <h3>Invades central sinus fat</h3>
  <p th:text="${invadesCentralSinusFat}"></p>
</div>

<div>
  <h3>Invades collecting system</h3>
  <p th:text="${invadesCollectingSystem}"></p>
</div>

<div>
  <h3>Invades ipsilateral adrenal</h3>
  <p th:text="${invadesIpsilateralAdrenal}"></p>
</div>

<div>
  <h3>Invades adjacent organs or structures</h3>
  <p th:text="${invadesAdjacentOrgans}"></p>
</div>

<div>
  <h3>Ipsilateral vessels</h3>
  <h3>Renal artery</h3>
  <p th:text="${renalArtery}"></p>
</div>

<div>
  <h3>Significant renal artery stenosis >70%</h3>
  <p th:text="${renalArteryStenosis}"></p>
</div>

<div>
  <h3>Renal vein anatomy</h3>
  <p th:text="${renalVeinAnatomy}"></p>
</div>

<div>
  <h3>Renal vein thrombus</h3>
  <p th:text="${renalVeinThrombus}"></p>
</div>

<div>
  <h3>Renal vein thrombus</h3>
  <p th:text="${renalVeinThrombusText}"></p>
</div>

<div>
  <h3>IVC Thrombus</h3>
  <p th:text="${ivcThrombus}"></p>
</div>

<div>
  <h3>IVC Thrombus</h3>
  <p th:text="${ivcThrombusText}"></p>
</div>

<div>
  <h3>Other renal findings</h3>
  <p th:text="${otherRenalFindings}"></p>
</div>

<div>
  <h3>Adrenals</h3>
  <h3>Direct invasions by renal mass</h3>
  <p th:text="${directInvasionsByRenalMass}"></p>
</div>

<div>
  <h3>Adrenal nodule</h3>
  <p th:text="${adrenalNodule}"></p>
</div>

<div>
  <h3>Other findings</h3>
  <p th:text="${otherFindings}"></p>
</div>

<div>
  <h3>Retroperitoneal and pararenal lymph nodes</h3>
  <p th:text="${retroperitonealAndPararenalLymphNodes}"></p>
</div>

<div>
  <h3>Other lymph nodes</h3>
  <p th:text="${otherLymphNodes}"></p>
</div>

<div>
  <h3>Liver</h3>
  <p th:text="${liver}"></p>
</div>

<div>
  <h3>Billiary tract</h3>
  <p th:text="${billiaryTract}"></p>
</div>

<div>
  <h3>Gallbladder</h3>
  <p th:text="${gallbladder}"></p>
</div>

<div>
  <h3>Pancreas</h3>
  <p th:text="${pancreas}"></p>
</div>

<div>
  <h3>Spleen</h3>
  <p th:text="${spleen}"></p>
</div>

<div>
  <h3>Stomach and small bowel</h3>
  <p th:text="${stomachAndAmallBowel}"></p>
</div>

<div>
  <h3>Colon and appendix</h3>
  <p th:text="${colonAndAppendix}"></p>
</div>

<div>
  <h3>Peritoneum and mesentery</h3>
  <p th:text="${peritoneumAndMesentery}"></p>
</div>

<div>
  <h3>Retroperitoneum</h3>
  <p th:text="${retroperitoneum}"></p>
</div>

<div>
  <h3>Other vessels</h3>
  <p th:text="${otherVessels}"></p>
</div>

<div>
  <h3>Body wall</h3>
  <p th:text="${bodyWall}"></p>
</div>

<div>
  <h3>Musculoskeletal</h3>
  <p th:text="${musculoskeletal}"></p>
</div>

<div>
  <h3>TNM Stage</h3>
  <h3>Tumor (T)</h3>
  <p th:text="${tumorT}"></p>
</div>

<div>
  <h3>Node (N)</h3>
  <p th:text="${nodeN}"></p>
</div>

<div>
  <h3>Metastasis (M)</h3>
  <p th:text="${metastasisM}"></p>
</div>

<div>
  <h2>Impression</h2>
  <p th:text="${impression}"></p>
</div>
</body>
</html>
