<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<h1>Radiology Report</h1>

<div>
    <h2>Procedure Information</h2>
    <h3>Exam</h3>
    <p th:text="${procedureInformationText}"></p>
    <h3>Technique</h3>
    <p th:text="${techniqueText}"></p>
</div>

<div>
    <h2>Clinical Information</h2>
    <p th:text="${clinicalInformationText}"></p>
</div>

<div>
    <h2>Comparison</h2>
    <p th:text="${comparisonsText}"></p>
</div>

<h2>Findings</h2>

<div>
    <h2>Ground Glass Opacity (GGO)</h2>

    <h3>Presence</h3>
    <p th:text="${presenceOfGroundGlassOpacity}"></p>

    <h3>Laterality</h3>
    <p th:text="${lateralityOfGroundGlassOpacity}"></p>

    <h3>Location</h3>
    <p th:text="${locationOfGroundGlassOpacity}"></p>

    <h3>Predominant distribution</h3>
    <p th:text="${predominantDistributionOfGroundGlassOpacity}"></p>

    <h3>Quantity</h3>
    <p th:text="${quantityOfGroundGlassOpacity}"></p>

    <h3>Pattern</h3>
    <ul>
        <li th:each="entry : ${patternOfGroundGlassOpacity}">
            <span th:text="${entry.key} + ': ' + ${entry.value ? 'Yes' : 'No'}"></span>
        </li>
    </ul>

    <h3>Morphology</h3>
    <p th:text="${morphologyOfGroundGlassOpacity}"></p>

    <h3>Centrilobular Nodules/Tree-in-bud sign</h3>
    <p th:text="${centrilobularNodules}"></p>

    <h3>Centrilobular Nodules/Tree-in-bud sign</h3>
    <p th:text="${centrilobularNodules}"></p>

    <h3>Solid nodules</h3>
    <p th:text="${solidNodules}"></p>

    <h3>Air Space Consolidation</h3>
    <p th:text="${airSpaceConsolidation}"></p>

</div>

<div>
    <h2>Lymphadenopathy</h2>
    <h3>Presence</h3>
    <p th:text="${presenceOfLymphadenopathy}"></p>

    <h3>Location</h3>
    <ul>
        <li th:each="entry : ${locationOfLymphadenopathy}">
            <span th:text="${entry.key} + ': ' + ${entry.value ? 'Yes' : 'No'}"></span>
        </li>
    </ul>

    <h3>Pleural Effusion Size</h3>
    <p th:text="${pleuralEffusionSize}"></p>

    <h3>Presence of Mucoid Impaction</h3>
    <p th:text="${presenceOfMucoidImpaction}"></p>

    <h3>Presence of Bronchial Wall Thickening</h3>
    <p th:text="${presenceOfBronchialWallThickening}"></p>

    <h3>Smooth Interlobular Septal Thickening</h3>
    <p th:text="${smoothInterlobularSeptalThickeningSeverity}"></p>

    <h3>Presence of Pulmonary Cavities</h3>
    <p th:text="${presenceOfPulmonaryCavities}"></p>

    <h3>Endotracheal Tube</h3>
    <p th:text="${endotrachealTube}"></p>

    <h3>Study Quality</h3>
    <p th:text="${studyQuality}"></p>
</div>

<div>
    <h2>Impression</h2>
    <p th:text="${impressionText}"></p>
</div>

<div>
    <h2>COVID Classification</h2>
    <p th:text="${covidClassification}"></p>
</div>

</body>
</html>
